/*
Skin Name: Nivo Slider Light Theme
Skin URI: http://nivo.dev7studios.com
Description: A light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/
.theme-light.slider-wrapper {
    background: #fff;
    padding-bottom: 15px
    }

.theme-light .nivoSlider {
    position: relative;
    background: #fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom: 10px;
    overflow: visible
    }

.theme-light .nivoSlider img {
    position: absolute;
    top: 0;
    left: 0;
    display: none
    }

.theme-light .nivoSlider a {
    border: 0;
    display: block
    }

.theme-light .nivo-controlNav {
    text-align: left;
    padding: 0 10px;
    position: relative;
    z-index: 10
    }

.theme-light .nivo-controlNav a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    text-indent: -9999px;
    border: 3px solid #949494;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 2px;
    -moz-box-shadow: 0 0 1px #949494;
    -webkit-box-shadow: 0 0 1px #949494;
    box-shadow: 0 0 1px #949494;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s
    }

.theme-light .nivo-controlNav a.active {
    background: #949494
    }

.theme-light .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    top: auto;
    bottom: -36px;
    z-index: 11
    }

.theme-light .nivo-directionNav a:hover {
    background-color: #eee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
    }

.theme-light a.nivo-nextNav {
    background-position: 160% 50%;
    right: 0
    }

.theme-light a.nivo-prevNav {
    background-position: -60% 50%;
    left: auto;
    right: 35px
    }

.theme-light .nivo-caption {
    font-family: Helvetica, Arial, sans-serif
    }

.theme-light .nivo-caption a {
    color: #fff;
    border-bottom: 1px dotted #fff
    }

.theme-light .nivo-caption a:hover {
    color: #fff
    }

.theme-light .nivo-controlNav.nivo-thumbs-enabled {
    width: 80%
    }

.theme-light .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px
    }

.theme-light .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto
    }